.home-card{
    background-color: rgb(255, 255, 255);
    width : 80%;
    min-height : 10rem;
    margin: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}