/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.fade {
  animation: fadein backwards 1s;
}

/* animation */
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
