/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.shad {
  /* box-shadow: 1.5px 0.5px 10px #000; */
}

.fade {
  animation: fadein backwards 1s;
}

.fade1h {
  animation: fadein backwards 1.5s;
}

.fade2 {
  animation: fadein backwards 2s;
}

.fade2h {
  animation: fadein backwards 2.5s;
  animation-delay: 1s;
}

.up {
  animation: up backwards 1s;
}
.upd {
  animation: up backwards 1s;
  animation-delay: 1s;
}

/* animation */
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.gola {
  height: 10px;
  width: 10px;
  background-color: #5ae34b;
  border-radius: 1000rem;
}
